.flexboxcontainer{
    display: flex;
}
.block1{
    height: 100px;
    right: 100px;
    background: red;
}
#centercenter{
    height: 100vh;
    justify-content: center;
    align-items: center;
}



